.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Existing styles */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Adjust as needed */

  }
 



.PantryPalName {
    position: absolute;
    width: 248px;
    height: 38px;
    left: 573px;
    top: 66px;
  
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
  
    color: #ff9914;
  
    text-shadow: 0px 2px 4px rgba(41, 68, 43, 0.25);
  }

  .signout {
    position: absolute;
    width: 150px;
    height: 25px;
    left: 1215px;
    top: 71px;
  
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
    text-decoration: none;
  
    background-color: transparent;
    outline: none;
    color: #08bdbd;
    border: 0px;
  
    text-shadow: 0px 2px 4px rgba(41, 68, 43, 0.25);
  }