@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca:900,800,400,700");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.sign-up-page {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .sign-up-page .div {
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    background: linear-gradient(180deg, rgb(243, 243, 241) 0%, rgb(141, 141, 139.84) 100%);
    width: 1420px;
    height: 799px;
    position: relative;
  }
  
  .sign-up-page .overlap {
    position: absolute;
    width: 1365px;
    height: 799px;
    top: 0;
    left: 55px;
  }
  
  .sign-up-page .overlap-group {
    position: absolute;
    width: 1365px;
    height: 799px;
    top: 0;
    left: 0;
  }
  
  .sign-up-page .ellipse {
    position: absolute;
    width: 619px;
    height: 799px;
    top: 0;
    left: 746px;
  }
  
  .sign-up-page .sign-up-button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 170px;
    height: 35px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 61px;
    left: 1140px;
    background-color: #ff9914;
    border-radius: 20px;
  }
  
  .sign-up-page .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -6px;
    margin-bottom: -4px;
    font-family: "Lexend Deca", Helvetica;
    font-weight: 900;
    color: #f3f3f1;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: normal;
  }
  
  .sign-up-page .guy-floating {
    position: absolute;
    width: 611px;
    height: 676px;
    top: 123px;
    left: 674px;
  }
  
  .sign-up-page .ingredients {
    position: absolute;
    width: 854px;
    height: 703px;
    top: 88px;
    left: 511px;
  }
  
  .sign-up-page .rectangle {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 51px;
    left: 1063px;
  }
  
  .sign-up-page .frame {
    position: absolute;
    width: 849px;
    height: 558px;
    top: 156px;
    left: 0;
    background-color: #f3f3f1;
    border-radius: 64px;
    overflow: hidden;
    box-shadow: 0px 3px 4px #655e4c80;
  }
  
  .sign-up-page .overlap-group-2 {
    position: relative;
    height: 558px;
    background-image: url(./img/backgorund.png);
    background-size: 100% 100%;
  }
  
  .sign-up-page .text-wrapper-2 {
    position: absolute;
    width: 213px;
    top: 67px;
    left: 68px;
    text-shadow: 0px 2px 4px #29442b40;
    font-family: "Lexend Deca", Helvetica;
    font-weight: 700;
    color: #3b2203;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up-page .text-wrapper-3 {
    position: absolute;
    width: 160px;
    top: 249px;
    left: 68px;
    text-shadow: 0px 2px 4px #29442b40;
    font-family: "Lexend Deca", Helvetica;
    font-weight: 400;
    color: #655e4c;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up-page .text-wrapper-4 {
    position: absolute;
    width: 160px;
    top: 155px;
    left: 68px;
    text-shadow: 0px 2px 4px #29442b40;
    font-family: "Lexend Deca", Helvetica;
    font-weight: 400;
    color: #655e4c;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up-page .text-wrapper-5 {
    position: absolute;
    width: 160px;
    top: 249px;
    left: 441px;
    text-shadow: 0px 2px 4px #29442b40;
    font-family: "Lexend Deca", Helvetica;
    font-weight: 400;
    color: #655e4c;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up-page .text-wrapper-6 {
    position: absolute;
    width: 160px;
    top: 155px;
    left: 441px;
    text-shadow: 0px 2px 4px #29442b40;
    font-family: "Lexend Deca", Helvetica;
    font-weight: 400;
    color: #655e4c;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up-page .overlap-2 {
    position: absolute;
    width: 160px;
    height: 15px;
    top: 343px;
    left: 68px;
  }
  
  .sign-up-page .text-wrapper-7 {
    position: absolute;
    width: 160px;
    top: 0;
    left: 0;
    text-shadow: 0px 2px 4px #29442b40;
    font-family: "Lexend Deca", Helvetica;
    font-weight: 400;
    color: #655e4c;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up-page .rectangle-2 {
    position: absolute;
    width: 340px;
    height: 53px;
    top: 279px;
    left: 68px;
    background-color: #f3f3f1;
    border-radius: 64px;
    border: 1px solid;
    border-color: #08bdbd;
  }
  
  .sign-up-page .rectangle-3 {
    position: absolute;
    width: 340px;
    height: 53px;
    top: 185px;
    left: 68px;
    background-color: #f3f3f1;
    border-radius: 64px;
    border: 1px solid;
    border-color: #08bdbd;
  }
  
  .sign-up-page .rectangle-4 {
    position: absolute;
    width: 340px;
    height: 53px;
    top: 279px;
    left: 441px;
    background-color: #f3f3f1;
    border-radius: 64px;
    border: 1px solid;
    border-color: #08bdbd;
  }
  
  .sign-up-page .rectangle-5 {
    position: absolute;
    width: 340px;
    height: 53px;
    top: 185px;
    left: 441px;
    background-color: #f3f3f1;
    border-radius: 64px;
    border: 1px solid;
    border-color: #08bdbd;
  }
  
  .sign-up-page .rectangle-6 {
    position: absolute;
    width: 340px;
    height: 53px;
    top: 373px;
    left: 68px;
    background-color: #f3f3f1;
    border-radius: 64px;
    border: 1px solid;
    border-color: #08bdbd;
  }
  
  .sign-up-page .div-wrapper {
    position: absolute;
    width: 190px;
    height: 51px;
    top: 454px;
    left: 68px;
    background-color: #08bdbd;
    border-radius: 21px;
    box-shadow: 0px 3px 4px #655e4c80;
  }
  
  .sign-up-page .text-wrapper-8 {
    position: absolute;
    top: 12px;
    left: 46px;
    font-family: "Lexend Deca", Helvetica;
    font-weight: 800;
    color: #f3f3f1;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: normal;
  }
  
  .sign-up-page .pantrypal-logo {
    position: absolute;
    width: 248px;
    top: 65px;
    left: 0;
    text-shadow: 0px 2px 4px #29442b40;
    font-family: "Lexend Deca", Helvetica;
    font-weight: 700;
    color: #ff9914;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .sign-up-page .search {
    position: absolute;
    width: 36px;
    height: 36px;
    top: -1677px;
    left: 1973px;
  }
  